/* general styles */
body {
  margin: 0;
  background: rgba(128, 128, 128, 0.068);
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

i {
  font-size: 2rem;
}

.mt-15 {
  margin-top: 15rem;
}

/* search box style */
#search-box {
  border: none;
  outline: none;
  line-height: 0;
  background: transparent;
  width: 100%;
}

/* search results styles */
#search-list {
  height: 60vh;
  overflow-y: scroll;
}
#search-list li {
  background: rgba(128, 128, 128, 0.185);
  margin: 0.1rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.5s;
  color: grey;
}
#search-list li:hover {
  background: rgba(128, 128, 128, 0.63);
  color: white;
}
#search-list li .hero-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: box-shadow 0.5s;
}
#search-list li:hover .hero-image {
  box-shadow: 0 0 12px 10px white;
}

/* favorite superhero cards styles */
.hero-card {
  margin: 1rem;
  color: white;
  height: 20rem;
  width: 15rem;
  background-size: contain;
  border-radius: 0.5rem;
  cursor: pointer;
}

.black-layer {
  background: rgba(0, 0, 0, 0.568);
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

/* superhero detail page styles */
#superhero-details {
  height: 77vh;
  overflow-y: scroll;
}

#superhero-details li {
  margin: 0 0 0.5rem 0;
  padding: 2rem 3rem;
  background: rgba(0, 0, 0, 0.137);
  font-size: 25px;
}
#superhero-details li div {
  width: 100%;
}
#superhero-details li p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* notification styles*/
#toast {
  position: absolute;
  top: 70px;
  right: 0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}
.toast-error {
  background: #ff5a5a;
}
.toast-success {
  background: #8bc34a;
}

@media screen and (max-width: 786px) {
  .display-2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 430px) {
  h3 {
    font-size: 1.1rem;
  }
  .h3 {
    font-size: 1rem;
  }
  .display-2 {
    font-size: 2rem;
  }
  #search-list {
    height: 75vh;
  }
  #search-list li .hero-image {
    height: 3rem;
    width: 3rem;
  }
  #superhero-details {
    display: flex;
    overflow-x: scroll;
    width: 20vh;
    height: 60vh;
  }
  #superhero-details li {
    margin-right: 0.5rem;
    padding: 1rem 2rem;
    font-size: 20px;
  }
  #superhero-details li div {
    width: 40vh;
  }
  #superhero-image img {
    width: 50%;
  }
}
